@charset "UTF-8";
/* Font imports */
@font-face {
  font-family: 'Bebas Neue';
  src: url("../res/fonts/FSX/FSX.eot");
  src: local("☺"), url("../res/fonts/BebasNeue.woff") format("woff"), url("../res/fonts/BebasNeue.ttf") format("truetype"), url("../res/fonts/BebasNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url("../res/fonts/GothamCondensed-Medium.eot");
  src: local("☺"), url("../res/fonts/GothamCondensed-Medium.woff") format("woff"), url("../res/fonts/GothamCondensed-Medium.ttf") format("truetype"), url("../res/fonts/GothamCondensed-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../res/fonts/Roboto-Regular.eot");
  src: local("☺"), url("../res/fonts/Roboto-Regular.woff") format("woff"), url("../res/fonts/Roboto-Regular.ttf") format("truetype"), url("../res/fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General classes */
/* line 29, ../scss/style.scss */
html {
  margin: 0px;
  padding: 0px;
}

/* line 34, ../scss/style.scss */
body {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* line 42, ../scss/style.scss */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none outside none;
}

/* line 48, ../scss/style.scss */
a {
  color: white;
  text-decoration: none;
}
/* line 51, ../scss/style.scss */
a:hover {
  color: #6f6f6f;
}

/* line 56, ../scss/style.scss */
.bebas {
  font-family: 'Bebas Neue';
}

/* line 60, ../scss/style.scss */
.gotham {
  font-family: 'Gotham Condensed';
}

/* line 64, ../scss/style.scss */
.roboto {
  font-family: 'Roboto Regular';
}

/* Menu */
/* line 70, ../scss/style.scss */
#global-menu {
  position: fixed;
  top: 35%;
  left: 0px;
  width: 105px;
  height: 418px;
  background: transparent url("../res/img/segundoplano/sitemap.png") top left no-repeat;
  z-index: 10;
}
/* line 78, ../scss/style.scss */
#global-menu a {
  color: #6f6f6f;
  text-decoration: none;
}
/* line 79, ../scss/style.scss */
#global-menu a.active {
  color: white;
}
/* line 85, ../scss/style.scss */
#global-menu ul {
  text-align: right;
  margin: 0px;
  margin-top: 185px;
  padding: 0px;
  list-style: none outside none;
}
/* line 91, ../scss/style.scss */
#global-menu ul li {
  line-height: 16px;
  font-size: 14px;
  padding: 0px 5px;
}

/* Scrollbar */
/* line 101, ../scss/style.scss */
#global-scrollbar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 800px;
  background-color: rgba(67, 67, 67, 0.6);
  z-index: 10;
}
/* line 109, ../scss/style.scss */
#global-scrollbar #global-scroll {
  background-color: #323232;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid #737373;
  position: relative;
}

/* Main wrapper and section details */
/* line 121, ../scss/style.scss */
#document-container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

/* line 128, ../scss/style.scss */
#document-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 133, ../scss/style.scss */
.section {
  overflow: visible;
  max-width: 1600px;
}

/* line 138, ../scss/style.scss */
.section-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
/* line 143, ../scss/style.scss */
.section-footer .footer-wrapper {
  position: relative;
  width: 100%;
}
/* line 146, ../scss/style.scss */
.section-footer .footer-wrapper .footer-content {
  position: relative;
  width: 100%;
  z-index: 1;
}
/* line 150, ../scss/style.scss */
.section-footer .footer-wrapper .footer-content .footer-icon {
  position: absolute;
}
/* line 153, ../scss/style.scss */
.section-footer .footer-wrapper .footer-content .footer-text {
  position: absolute;
}

/* line 162, ../scss/style.scss */
#section-1 .section-footer .footer-content {
  top: 130px;
  min-height: 326px;
  background: transparent url("../res/img/segundoplano/blue_jumpb.png") top center no-repeat;
}
/* line 166, ../scss/style.scss */
#section-1 .section-footer .footer-content .footer-icon {
  top: 25px;
  left: 450px;
}
/* line 170, ../scss/style.scss */
#section-1 .section-footer .footer-content .footer-text {
  top: 135px;
  right: 400px;
}

/* line 179, ../scss/style.scss */
#section-2 .texto-1 {
  text-align: center;
  overflow: hidden;
  height: 400px;
}
/* line 183, ../scss/style.scss */
#section-2 .texto-1 p {
  position: relative;
  top: -100px;
}
/* line 189, ../scss/style.scss */
#section-2 .section-footer .footer-content {
  top: 165px;
  min-height: 326px;
  background: transparent url("../res/img/segundoplano/green_jumpb.png") top center no-repeat;
}
/* line 193, ../scss/style.scss */
#section-2 .section-footer .footer-content .footer-icon {
  top: 25px;
  left: 450px;
}
/* line 197, ../scss/style.scss */
#section-2 .section-footer .footer-content .footer-text {
  top: 135px;
  right: 400px;
}

/* line 206, ../scss/style.scss */
#section-3 #h-scroll {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 300px;
  height: 896px;
  background: white url("../res/img/segundoplano/masked_faraonico.png") top left no-repeat fixed;
}
/* line 214, ../scss/style.scss */
#section-3 .footer-content {
  top: 235px;
  min-height: 326px;
  background: transparent url("../res/img/segundoplano/green_jumpb.png") top center no-repeat;
}
/* line 218, ../scss/style.scss */
#section-3 .footer-content .footer-icon {
  top: 25px;
  left: 450px;
}
/* line 222, ../scss/style.scss */
#section-3 .footer-content .footer-text {
  top: 135px;
  right: 380px;
}

/* line 230, ../scss/style.scss */
#section-4 #venecia-1 {
  overflow: hidden;
  width: 100%;
  height: 865px;
}
/* line 234, ../scss/style.scss */
#section-4 #venecia-1 img {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 240, ../scss/style.scss */
#section-4 #venecia-2 {
  overflow: hidden;
  width: 100%;
  height: 865px;
}
/* line 244, ../scss/style.scss */
#section-4 #venecia-2 img {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 250, ../scss/style.scss */
#section-4 #venecia-3 {
  overflow: hidden;
  width: 100%;
  height: 865px;
}
/* line 254, ../scss/style.scss */
#section-4 #venecia-3 img {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 260, ../scss/style.scss */
#section-4 .footer-content {
  top: 140px;
  min-height: 326px;
  background: transparent url("../res/img/segundoplano/green_jumpb.png") top center no-repeat;
}
/* line 264, ../scss/style.scss */
#section-4 .footer-content .footer-icon {
  top: 35px;
  left: 350px;
}
/* line 268, ../scss/style.scss */
#section-4 .footer-content .footer-text {
  top: 120px;
  right: 400px;
}
/* line 271, ../scss/style.scss */
#section-4 .footer-content .footer-text .smaller {
  font-size: .6em;
}

/* line 279, ../scss/style.scss */
#section-5 .texto-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 62px;
  line-height: 60px;
  height: 280px;
  overflow: hidden;
}
/* line 286, ../scss/style.scss */
#section-5 .texto-1 p {
  position: relative;
  top: 115px;
}
/* line 291, ../scss/style.scss */
#section-5 #idea-1 {
  position: absolute;
  top: 245px;
  left: 185px;
}
/* line 296, ../scss/style.scss */
#section-5 #idea-2 {
  position: absolute;
  top: 270px;
  left: 500px;
}
/* line 301, ../scss/style.scss */
#section-5 #idea-3 {
  position: absolute;
  top: 250px;
  right: 495px;
}
/* line 306, ../scss/style.scss */
#section-5 #idea-4 {
  position: absolute;
  top: 220px;
  right: 150px;
}
/* line 311, ../scss/style.scss */
#section-5 .section-footer {
  bottom: 0px;
  min-height: 898px;
  background: transparent url("../res/img/segundoplano/godinez_alpha.png") top center no-repeat;
}

/* line 319, ../scss/style.scss */
#section-7 #quienes-somos {
  position: absolute;
  top: 177px;
  left: 398px;
  width: 808px;
  height: 142px;
  background: transparent url("../res/img/wall_quienessomos.jpg") top center no-repeat fixed;
}
/* line 327, ../scss/style.scss */
#section-7 #veinte-anios {
  width: 393px;
  position: absolute;
  bottom: 255px;
  left: 420px;
}
/* line 334, ../scss/style.scss */
#section-7 .s20exp p {
  width: 393px;
  color: #323232;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
/* line 342, ../scss/style.scss */
#section-7 #quienes-logo {
  position: absolute;
  bottom: 300px;
  right: 470px;
  width: 250px;
}
/* line 347, ../scss/style.scss */
#section-7 #quienes-logo img {
  width: 250px;
}

/* line 353, ../scss/style.scss */
#section-8 {
  color: white;
  font-family: 'Bebas Neue';
  font-size: 55px;
  line-height: 55px;
  text-shadow: 2px 2px 4px black;
  text-transform: uppercase;
}
/* line 360, ../scss/style.scss */
#section-8 .statistics-bar {
  position: absolute;
  bottom: 100px;
  width: 100%;
}
/* line 364, ../scss/style.scss */
#section-8 .statistics-bar hr {
  width: 80%;
  background-color: white;
  height: 3px;
  border: 0px solid;
}
/* line 371, ../scss/style.scss */
#section-8 #statistics-1 {
  position: absolute;
  top: 120px;
  left: 300px;
}
/* line 376, ../scss/style.scss */
#section-8 #statistics-2 {
  position: absolute;
  top: 120px;
  right: 200px;
}
/* line 381, ../scss/style.scss */
#section-8 #statistics-3 {
  position: absolute;
  top: 230px;
  left: 680px;
}
/* line 386, ../scss/style.scss */
#section-8 #statistics-4 {
  position: absolute;
  top: 360px;
  left: 300px;
}
/* line 391, ../scss/style.scss */
#section-8 #statistics-5 {
  position: absolute;
  top: 360px;
  right: 300px;
}
/* line 396, ../scss/style.scss */
#section-8 #statistics-6 {
  position: absolute;
  bottom: 180px;
  left: 500px;
}
/* line 401, ../scss/style.scss */
#section-8 #statistics-7 {
  font-size: 75px;
  position: absolute;
  bottom: 0px;
  left: 250px;
}

/* line 410, ../scss/style.scss */
#section-10 .corpo-title {
  position: absolute;
  width: 520px;
  right: 320px;
  top: 135px;
  padding: 12px 25px;
  text-transform: uppercase;
  text-align: right;
  font-size: 120px;
  line-height: 105px;
  color: black;
}
/* line 422, ../scss/style.scss */
#section-10 .corpo-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  width: 520px;
  right: 320px;
  top: 355px;
  padding: 12px 25px;
  text-align: justify;
  font-weight: bolder;
  font-size: 18px;
}

/* line 437, ../scss/style.scss */
#section-12 .incen-title {
  position: absolute;
  width: 520px;
  right: 320px;
  top: 130px;
  padding: 12px 25px;
  text-transform: uppercase;
  text-align: right;
  font-size: 120px;
  line-height: 105px;
  color: yellow;
}
/* line 449, ../scss/style.scss */
#section-12 .incen-text {
  position: absolute;
  background-color: rgba(96, 96, 96, 0.4);
  color: white;
  width: 570px;
  right: 320px;
  top: 355px;
  padding: 12px 25px;
  text-align: justify;
  font-weight: bolder;
  font-size: 18px;
}

/* line 463, ../scss/style.scss */
#section-13 {
  color: #434343;
}
/* line 465, ../scss/style.scss */
#section-13 #destinos {
  position: absolute;
  top: 60px;
  right: 320px;
  width: 488px;
  height: 151px;
  background: transparent url("../res/img/segundoplano/destinos_back.jpg") top center no-repeat fixed;
}
/* line 473, ../scss/style.scss */
#section-13 #text-destinos {
  position: absolute;
  top: 235px;
  right: 320px;
  width: 560px;
  font-size: 20px;
  text-align: justify;
  font-weight: bolder;
  color: #434343;
}
/* line 484, ../scss/style.scss */
#section-13 #list-destinos {
  position: absolute;
  top: 400px;
  left: 0px;
}
/* line 488, ../scss/style.scss */
#section-13 #list-destinos li {
  padding: 15px 0px;
}

/* line 496, ../scss/style.scss */
#section-15 #convenciones {
  position: absolute;
  top: 85px;
  left: 360px;
  width: 901px;
  height: 219px;
  background: transparent url("../res/img/segundoplano/convenciones_back.jpg") top center no-repeat fixed;
}
/* line 504, ../scss/style.scss */
#section-15 #text-convenciones {
  position: absolute;
  top: 275px;
  left: 400px;
  width: 490px;
  font-size: 20px;
  text-align: justify;
  color: #434343;
}
/* line 513, ../scss/style.scss */
#section-15 #block-convenciones {
  position: absolute;
  bottom: 5px;
  left: 340px;
}

/* line 521, ../scss/style.scss */
#section-17 #clientes {
  position: absolute;
  top: 30px;
  left: 180px;
  width: 868px;
  height: 262px;
  background: transparent url("../res/img/segundoplano/clientes_back.jpg") top center no-repeat fixed;
}
/* line 529, ../scss/style.scss */
#section-17 #clientes-imgs-1 {
  position: absolute;
  top: 350px;
  left: 135px;
}
/* line 534, ../scss/style.scss */
#section-17 #clientes-imgs-2 {
  position: absolute;
  bottom: 410px;
  left: 135px;
}

/* line 541, ../scss/style.scss */
#section-18 {
  text-align: center;
  font-weight: bolder;
}
/* line 544, ../scss/style.scss */
#section-18 #list-touring {
  position: absolute;
  top: 75px;
  left: 450px;
}
/* line 549, ../scss/style.scss */
#section-18 #list-contacto {
  position: absolute;
  top: 75px;
  right: 400px;
}
/* line 554, ../scss/style.scss */
#section-18 .linea {
  display: block;
  clear: both;
}
/* line 558, ../scss/style.scss */
#section-18 ul {
  text-align: left;
  width: 250px;
}
/* line 561, ../scss/style.scss */
#section-18 ul li.titulo {
  font-size: 28px;
  font-weight: bolder;
  border-bottom: 5px solid #67b3a7;
}
/* line 566, ../scss/style.scss */
#section-18 ul a {
  font-size: 18px;
  font-weight: bolder;
}

/* Testimonio */
/* line 576, ../scss/style.scss */
.testimonio .foto {
  position: absolute;
  top: 0px;
  left: 200px;
}
/* line 580, ../scss/style.scss */
.testimonio .foto img {
  height: 341px;
}
/* line 584, ../scss/style.scss */
.testimonio .cita {
  font-family: 'Roboto Regular';
  position: absolute;
  top: 80px;
  left: 755px;
  text-align: center;
}
/* line 591, ../scss/style.scss */
.testimonio .autor {
  position: absolute;
  bottom: 120px;
  right: 375px;
  text-align: right;
}
/* line 596, ../scss/style.scss */
.testimonio .autor .nombre {
  font-family: 'Roboto Regular';
  font-weight: bold;
  font-size: 24px;
}
/* line 601, ../scss/style.scss */
.testimonio .autor .empresa {
  font-family: 'Roboto Regular';
  font-style: italic;
}

/* Text styles */
/* line 611, ../scss/style.scss */
.section .texto-1 {
  font-size: 44px;
  color: black;
}

/* line 616, ../scss/style.scss */
.footer-text {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  font-size: 51px;
  line-height: 42px;
  text-align: right;
}

/**
* Wave styles
* from http://lab.hakim.se/scroll-effects/
*/
/* line 628, ../scss/style.scss */
.wave li {
  -webkit-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 600ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/* line 635, ../scss/style.scss */
.wave li.fuera {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/**
 * Flip styles
 */
/* line 646, ../scss/style.scss */
.flip-container {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
/* line 659, ../scss/style.scss */
.flip-container .fuera {
  opacity: 0;
  -webkit-transform: rotateX(-80deg);
  -moz-transform: rotateX(-80deg);
  -ms-transform: rotateX(-80deg);
  -o-transform: rotateX(-80deg);
  transform: rotateX(-80deg);
}

/* line 670, ../scss/style.scss */
.flip-item {
  -webkit-transition: all 600ms ease, opacity 300ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease, opacity 300ms ease;
  -o-transition: all 600ms ease, opacity 300ms ease;
  transition: all 600ms ease, opacity 300ms ease;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
