/* Font imports */

@font-face {
  font-family: 'Bebas Neue';
  src: url('../res/fonts/FSX/FSX.eot');
  src: local('☺'), url('../res/fonts/BebasNeue.woff') format('woff'), url('../res/fonts/BebasNeue.ttf') format('truetype'), url('../res/fonts/BebasNeue.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('../res/fonts/GothamCondensed-Medium.eot');
  src: local('☺'), url('../res/fonts/GothamCondensed-Medium.woff') format('woff'), url('../res/fonts/GothamCondensed-Medium.ttf') format('truetype'), url('../res/fonts/GothamCondensed-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../res/fonts/Roboto-Regular.eot');
  src: local('☺'), url('../res/fonts/Roboto-Regular.woff') format('woff'), url('../res/fonts/Roboto-Regular.ttf') format('truetype'), url('../res/fonts/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General classes */

html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none outside none;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  &:hover {
    color: rgb(111,111,111);
  }
}

.bebas {
  font-family: 'Bebas Neue';
}

.gotham {
  font-family: 'Gotham Condensed';
}

.roboto {
  font-family: 'Roboto Regular';
}

/* Menu */

#global-menu {
  position: fixed;
  top: 35%;
  left: 0px;
  width: 105px;
  height: 418px;
  background: transparent url('../res/img/segundoplano/sitemap.png') top left no-repeat;
  z-index: 10;
  a{
    &.active{
      color: rgb(255,255,255);
    }
    color: rgb(111,111,111);
    text-decoration: none;
  }
  ul {
    text-align: right;
    margin: 0px;
    margin-top: 185px;
    padding: 0px;
    list-style: none outside none;
    li{
      line-height: 16px;
      font-size: 14px;
      padding: 0px 5px;
    }
  }
}

/* Scrollbar */

#global-scrollbar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 800px;
  background-color: rgba(67,67,67,0.6);
  z-index: 10;
  #global-scroll {
    background-color: rgb(50,50,50);
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid rgb(115, 115, 115);
    position: relative;
  }
}

/* Main wrapper and section details */

#document-container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

#document-wrap{
  position: absolute;
  top: 0px;
  left: 0px;
}
.section {
  overflow: visible;
  max-width: 1600px;
}

.section-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  .footer-wrapper{
    position: relative;
    width: 100%;
    .footer-content{
      position: relative;
      width: 100%;
      z-index: 1;
      .footer-icon {
        position: absolute;
      }
      .footer-text {
        position: absolute;
      }
    }
  }
}

#section-1 {
  .section-footer {
    .footer-content{
      top: 130px;
      min-height: 326px;
      background: transparent url('../res/img/segundoplano/blue_jumpb.png') top center no-repeat;
      .footer-icon {
        top: 25px;
        left: 450px;
      }
      .footer-text {
        top: 135px;
        right: 400px;
      }
    }
  }
}

#section-2 {
  .texto-1{
    text-align: center;
    overflow: hidden;
    height: 400px;
    p {
      position: relative;
      top: -100px;
    }
  }
  .section-footer {
    .footer-content{
      top: 165px;
      min-height: 326px;
      background: transparent url('../res/img/segundoplano/green_jumpb.png') top center no-repeat;
      .footer-icon {
        top: 25px;
        left: 450px;
      }
      .footer-text {
        top: 135px;
        right: 400px;
      }
    }
  }
}

#section-3 {
  #h-scroll {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 300px;
    height: 896px;
    background: rgb(255,255,255) url('../res/img/segundoplano/masked_faraonico.png') top left no-repeat fixed;
  }
  .footer-content{
    top: 235px;
    min-height: 326px;
    background: transparent url('../res/img/segundoplano/green_jumpb.png') top center no-repeat;
    .footer-icon {
      top: 25px;
      left: 450px;
    }
    .footer-text {
      top: 135px;
      right: 380px;
    }
  }
}

#section-4 {
  #venecia-1 {
    overflow: hidden;
    width: 100%;
    height: 865px;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  #venecia-2 {
    overflow: hidden;
    width: 100%;
    height: 865px;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  #venecia-3 {
    overflow: hidden;
    width: 100%;
    height: 865px;
    img {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .footer-content{
    top: 140px;
    min-height: 326px;
    background: transparent url('../res/img/segundoplano/green_jumpb.png') top center no-repeat;
    .footer-icon {
      top: 35px;
      left: 350px;
    }
    .footer-text {
      top: 120px;
      right: 400px;
      .smaller {
        font-size: .6em;
      }
    }
  }
}

#section-5 {
  .texto-1{
    text-align: center;
    text-transform: uppercase;
    font-size: 62px;
    line-height: 60px;
    height: 280px;
    overflow: hidden;
    p {
      position: relative;
      top: 115px;
    }
  }
  #idea-1 {
    position: absolute;
    top: 245px;
    left: 185px;
  }
  #idea-2 {
    position: absolute;
    top: 270px;
    left: 500px;
  }
  #idea-3 {
    position: absolute;
    top: 250px;
    right: 495px;
  }
  #idea-4 {
    position: absolute;
    top: 220px;
    right: 150px;
  }
  .section-footer {
    bottom: 0px;
    min-height: 898px;
    background: transparent url('../res/img/segundoplano/godinez_alpha.png') top center no-repeat;
  }
}

#section-7 {
  #quienes-somos {
    position: absolute;
    top: 177px;
    left: 398px;
    width: 808px;
    height: 142px;
    background: transparent url('../res/img/wall_quienessomos.jpg') top center no-repeat fixed;
  }
  #veinte-anios {
    width: 393px;
    position: absolute;
    bottom: 255px;
    left: 420px;
  }
  .s20exp{
    p {
      width: 393px;
      color: rgb(50,50,50);
      text-align: center;
      font-weight: bolder;
      font-size: 25px;
    }
  }
  #quienes-logo{
    position: absolute;
    bottom: 300px;
    right: 470px;
    width: 250px;
    img {
      width: 250px;
    }
  }
}

#section-8 {
  color: rgb(255,255,255);
  font-family: 'Bebas Neue';
  font-size: 55px;
  line-height: 55px;
  text-shadow: 2px 2px 4px rgb(0,0,0);
  text-transform: uppercase;
  .statistics-bar {
    position: absolute;
    bottom: 100px;
    width: 100%;
    hr {
      width: 80%;
      background-color: rgb(255,255,255);
      height: 3px;
      border: 0px solid;
    }
  }
  #statistics-1 {
    position: absolute;
    top: 120px;
    left: 300px;
  }
  #statistics-2 {
    position: absolute;
    top: 120px;
    right: 200px;
  }
  #statistics-3 {
    position: absolute;
    top: 230px;
    left: 680px;
  }
  #statistics-4 {
    position: absolute;
    top: 360px;
    left: 300px;
  }
  #statistics-5 {
    position: absolute;
    top: 360px;
    right: 300px;
  }
  #statistics-6 {
    position: absolute;
    bottom: 180px;
    left: 500px;
  }
  #statistics-7 {
    font-size: 75px;
    position: absolute;
    bottom: 0px;
    left: 250px;
  }
}

#section-10 {
  .corpo-title {
    position: absolute;
    width: 520px;
    right: 320px;
    top: 135px;
    padding: 12px 25px;
    text-transform: uppercase;
    text-align: right;
    font-size: 120px;
    line-height: 105px;
    color: rgb(0,0,0);
  }
  .corpo-text {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    color: rgb(0,0,0);
    width: 520px;
    right: 320px;
    top: 355px;
    padding: 12px 25px;
    text-align: justify;
    font-weight: bolder;
    font-size: 18px;
  }
}

#section-12 {
  .incen-title {
    position: absolute;
    width: 520px;
    right: 320px;
    top: 130px;
    padding: 12px 25px;
    text-transform: uppercase;
    text-align: right;
    font-size: 120px;
    line-height: 105px;
    color: rgb(255,255,0);
  }
  .incen-text {
    position: absolute;
    background-color: rgba(96,96,96, 0.4);
    color: rgb(255, 255, 255);
    width: 570px;
    right: 320px;
    top: 355px;
    padding: 12px 25px;
    text-align: justify;
    font-weight: bolder;
    font-size: 18px;
  }
}

#section-13 {
  color: rgb(67,67,67);
  #destinos {
    position: absolute;
    top: 60px;
    right: 320px;
    width: 488px;
    height: 151px;
    background: transparent url('../res/img/segundoplano/destinos_back.jpg') top center no-repeat fixed;
  }
  #text-destinos {
    position: absolute;
    top: 235px;
    right: 320px;
    width: 560px;
    font-size: 20px;
    text-align: justify;
    font-weight: bolder;
    color: rgb(67,67,67);
  }

  #list-destinos {
    position: absolute;
    top: 400px;
    left: 0px;
    li{
      padding: 15px 0px;
    }
  }
  ;
}

#section-15 {
  #convenciones {
    position: absolute;
    top: 85px;
    left: 360px;
    width: 901px;
    height: 219px;
    background: transparent url('../res/img/segundoplano/convenciones_back.jpg') top center no-repeat fixed;
  }
  #text-convenciones {
    position: absolute;
    top: 275px;
    left: 400px;
    width: 490px;
    font-size: 20px;
    text-align: justify;
    color: rgb(67,67,67);
  }
  #block-convenciones {
    position: absolute;
    bottom: 5px;
    left: 340px;
  }
}

#section-17 {
  #clientes {
    position: absolute;
    top: 30px;
    left: 180px;
    width: 868px;
    height: 262px;
    background: transparent url('../res/img/segundoplano/clientes_back.jpg') top center no-repeat fixed;
  }
  #clientes-imgs-1 {
    position: absolute;
    top: 350px;
    left: 135px;
  }
  #clientes-imgs-2 {
    position: absolute;
    bottom: 410px;
    left: 135px;
  }
}

#section-18 {
  text-align: center;
  font-weight: bolder;
  #list-touring {
    position: absolute;
    top: 75px;
    left: 450px;
  }
  #list-contacto {
    position: absolute;
    top: 75px;
    right: 400px;
  }
  .linea {
    display: block;
    clear: both;
  }
  ul{
    text-align: left;
    width: 250px;
    li.titulo {
      font-size: 28px;
      font-weight: bolder;
      border-bottom: 5px solid rgb(103,179,167);
    }
    a {
      font-size: 18px;
      font-weight: bolder;
    }
  }
}

/* Testimonio */

.testimonio {
  .foto{
    position: absolute;
    top: 0px;
    left: 200px;
    img {
      height: 341px;
    }
  }
  .cita{
    font-family: 'Roboto Regular';
    position: absolute;
    top: 80px;
    left: 755px;
    text-align: center;
  }
  .autor {
    position: absolute;
    bottom: 120px;
    right: 375px;
    text-align: right;
    .nombre{
      font-family: 'Roboto Regular';
      font-weight: bold;
      font-size: 24px;
    }
    .empresa{
      font-family: 'Roboto Regular';
      font-style: italic;
    }
  }
}


/* Text styles */

.section .texto-1 {
  font-size: 44px;
  color: rgb(0,0,0);
}

  .footer-text{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-size: 51px;
    line-height: 42px;
    text-align: right;
  }

/**
* Wave styles
* from http://lab.hakim.se/scroll-effects/
*/
.wave li {
  -webkit-transition: all 600ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 600ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 600ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: all 600ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: all 600ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
.wave li.fuera {
  -webkit-transform: translateX( -100% );
  -moz-transform: translateX( -100% );
  -ms-transform: translateX( -100% );
  -o-transform: translateX( -100% );
  transform: translateX( -100% );
}

/**
 * Flip styles
 */
.flip-container {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;

  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;

  .fuera {
    opacity: 0;

    -webkit-transform: rotateX( -80deg );
    -moz-transform: rotateX( -80deg );
    -ms-transform: rotateX( -80deg );
    -o-transform: rotateX( -80deg );
    transform: rotateX( -80deg );
  }
}

.flip-item {
  -webkit-transition: all 600ms ease,
  opacity 300ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease,
  opacity 300ms ease;
  -o-transition: all 600ms ease,
  opacity 300ms ease;
  transition: all 600ms ease,
  opacity 300ms ease;

  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}